*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#rootAlign{
width: 100%;
height: auto; 
display: flex;
flex-direction: column;
align-items: center;
padding: 0 100px;
margin-bottom: 150px;
margin-top: 100px;
}

.bgImgRight .align{
    flex-direction: row-reverse;
}
.day1Heading{
  background-image: url(../Images/day1DiscoveringJaipursEssence.webp);
}
.day1Card1{
    background-image: url(../Images/Day1Imgs/Introduction.webp);
  }
  .day1Card2{
    background-image: url(../Images/Day1Imgs/bazaarWalk.webp);
  }
  .day1Card3{
    background-image: url(../Images/Day1Imgs/cottageIndustry.webp);
  }
  .day1Card4{
    background-image: url(../Images/Day1Imgs/streetFood.webp);
  }
  .day1Card5{
    background-image: url(../Images/Day1Imgs/spirituality.webp);
  }
  .day1Card6{
    background-image: url(../Images/Day1Imgs/heritageHotel.webp);
  }

.day1Desc1{
    background-image: url(../Images/Day1Imgs/introDesc.webp);
}
.day1Desc2{
    background-image: url(../Images/Day1Imgs/bazaarWalkDesc.webp);
}
.day1Desc3{
    background-image: url(../Images/Day1Imgs/cottageIndustryDesc.webp);
}
.day1Desc4{
    background-image: url(../Images/Day1Imgs/streetFoodDesc.webp);
}

.day1Desc5{
    background-image: url(../Images/Day1Imgs/spiritualityDesc.webp);
}

.day1Desc6{
    background-image: url(../Images/Day1Imgs/heritageStayDesc.webp);
}


/* ****************************************DAY 2 BEGINS******************************************** */
.day2Heading{
  background-image: url(../Images/day2HeritageAndNighttimeWonders.webp);
}
.day2Card1{
  background-image: url(../Images/Day2Imgs/amberFort.webp);
}
.day2Card2{
  background-image: url(../Images/Day2Imgs/jantarMantar.webp);
}
.day2Card3{
  background-image: url(../Images/Day2Imgs/albertHall.webp);
}
.day2Card4{
  background-image: url(../Images/Day2Imgs/rest.webp);
}
.day2Card5{
  background-image: url(../Images/Day2Imgs/jaipurAtNight.webp);
}
.day2Card6{
  background-image: url(../Images/Day2Imgs/homeStay.webp);
}

.day2Desc1{
  background-image: url(../Images/Day2Imgs/amberFortDesc.webp);
}
.day2Desc2{
  background-image: url(../Images/Day2Imgs/jantarMantarDesc.webp);
}
.day2Desc3{
  background-image: url(../Images/Day2Imgs/albertHallDesc.webp);
}
.day2Desc4{
  background-image: url(../Images/Day2Imgs/restDesc.webp);
}

.day2Desc5{
  background-image: url(../Images/Day2Imgs/jaipurAtNightDesc.webp);
}

.day2Desc6{
  background-image: url(../Images/Day2Imgs/homeStayDesc.webp);
}
/* ****************************************DAY 3 BEGINS******************************************** */
.day3Heading1{
  background-image: url(../Images/day3ShoppingExtravagenza.webp);
}
.day3Card1{
  background-image: url(../Images/Day3Imgs/Day3Shopping/gems&jewelerry.webp);
}
.day3Card2{
  background-image: url(../Images/Day3Imgs/Day3Shopping/miniaturePaintings.webp);
}
.day3Card3{
  background-image: url(../Images/Day3Imgs/Day3Shopping/rugs\ carpet.webp);
}
.day3Card4{
  background-image: url(../Images/Day3Imgs/Day3Shopping/blockPrinting.webp);
}
.day3Card5{
  background-image: url(../Images/Day3Imgs/Day3Shopping/marbleSculptures.webp);
}
.day3Card6{
  background-image: url(../Images/Day3Imgs/Day3Shopping/spices.webp);
}
.day3Card7{
  background-image: url(../Images/Day3Imgs/Day3Shopping/wooden&metalArtifacts.webp);
}

.day3Desc1{
  background-image: url(../Images/Day3Imgs/Day3Shopping/Gems&JewelleryDesc.webp);
}
.day3Desc2{
  background-image: url(../Images/Day3Imgs/Day3Shopping/MiniaturePaintingsDesc.webp);
}
.day3Desc3{
  background-image: url(../Images/Day3Imgs/Day3Shopping/ruhs&CarpetDesc.webp);
}
.day3Desc4{
  background-image: url(../Images/Day3Imgs/Day3Shopping/BlockPrintingDesc.webp);
}

.day3Desc5{
  background-image: url(../Images/Day3Imgs/Day3Shopping/marbleSculptureDesc.webp);
}

.day3Desc6{
  background-image: url(../Images/Day3Imgs/Day3Shopping/spicesDesc.webp);
}
.day3Desc7{
  background-image: url(../Images/Day3Imgs/Day3Shopping/woden&metaArtifactsDesc.webp);
}


/* *******************************************COUNTRYSIDE EXPLORATION******************************************* */

.day3Heading2{
  background-image: url(../Images/day3CountrySideExploration.webp);
}
.day3CardB1{
  background-image: url(../Images/Day3Imgs/Day3CountrysideExploration/countrySide.webp);
}
.day3CardB2{
  background-image: url(../Images/Day3Imgs/Day3CountrysideExploration/Elephant\ Village.webp);
}
.day3CardB3{
  background-image: url(../Images/Day3Imgs/Day3CountrysideExploration/leopardSafari.webp);
}
.day3CardB4{
  background-image: url(../Images/Day3Imgs/Day3CountrysideExploration/hikeToGaltaji.webp);
}
.day3CardB5{
  background-image: url(../Images/Day3Imgs/Day3CountrysideExploration/luxuryStay.webp);
}


.day3DescB1{
  background-image: url(../Images/Day3Imgs/Day3CountrysideExploration/countrySideDesc.webp);
}
.day3DescB2{
  background-image: url(../Images/Day3Imgs/Day3CountrysideExploration/elephantVillageDesc.webp);
}
.day3DescB3{
  background-image: url(../Images/Day3Imgs/Day3CountrysideExploration/leopardSafariDesc.webp);
}
.day3DescB4{
  background-image: url(../Images/Day3Imgs/Day3CountrysideExploration/hikeToGaltajiDesc.webp);
}

.day3DescB5{
  background-image: url(../Images/Day3Imgs/Day3CountrysideExploration/luxuryStayDesc.webp);
}

/* ****************************Responsive code below***************************** */

@media screen and (max-width:1600px) {
  .daysContainer{
    margin: 0px 0px 100px 0px;
  }
  .dayDescription{
      margin: 50px 10px;
  }
  .dayHeading{
    margin: 0px 0px;
  }
  }

@media screen and (max-width:1000px) {

  .daysContainer{
    height: 120vh;
    margin: 50px 10px 100px 10px;
    
  }
  .daysContainer .align{
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .dayCard {
    height: 60%;
    width: 70%;
  }
  .dayDesc{
    height: 40%;
   width: 60%;
  }

  }
  @media screen and (max-width:800px) {
    .dayDescription{
      text-align: justify;
     }
    .daysContainer{
      height: 90vw;
      margin: 50px 10px 100px 10px;
      align-items: center;
    }
    .bgImgRight .dayCard{
     transform: rotate(0deg); 
    }
    .bgImgLeft .dayCard{
     transform: rotate(0deg); 
    }
    .dayCard {
      height: 60%;
      width: 90%;
    }
    .dayDesc{
      height: 40%;
     width: 70%;
    }
    .ViewMoreButton{
      height: auto;
      padding: 12px 15px;
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width:700px) {

    .daysContainer{
      height: 100vw;
    }

    .dayCard {
      height: 60%;
      width: 95%;
    }
    .dayDesc{
      height: 40%;
     width: 80%;
    }
    
  }
  @media screen and (max-width:585px) {
    #rootAlign{
      padding: 0 15px;
    }
    .daysContainer{
      height: 140vw;
      margin: 0px 10px 100px 10px;
      background-size: cover;
    }
    .dayHeading{
     width: 100%;
    }
    
    .dayCard {
      height: 50%;
      width: 100%;
    }
    .dayDesc{
      height: 40%;
     width: 100%;

    } 
    .ViewMoreButton{
      height: auto;
      padding: 8px 12px;
      /* font-size: 1.3rem; */
    }
    
  }