.Footer{
    width: 100%;
    height:fit-content;
    background-color: rgb(10, 10, 10);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}
.FooterContainer{
    width: 90%;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 50px 10px;
    justify-content: center;
    /* justify-content: space-evenly;*/
}

.copyrightSection{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.copyrightSection p{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    color: rgb(160, 160, 160);
    font-weight: 400;
    border-top: 1px solid rgb(196, 196, 196);
    padding: 15px 0px;
}
.LinksContainer{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 7px 15px;
    gap: 8px;
}
.footerLogos{
    height: 200px;
    width: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url(../Images/momentousLogo.webp);
    background-size: 45%;   
    background-repeat: no-repeat;
    background-position: 10% center ;
    transition: all 0.2s ease-in-out;
}
.footerLogos:hover{
    background-size: 50%;
    cursor: pointer;
}
/* .footerLogoMomentous,.footerLogoMightyRajasthan{

    background-size: contain;   
    background-repeat: no-repeat;
    background-position:  center;
    height: 40%;
    width: 40%;
}
.footerLogoMomentous{
background-image: url(../Images/momentousLogo.webp);

}
.footerLogoMightyRajasthan{
background-image: url(../Images/rajasthanLogo.webp);
background-size:auto 80%;
} */
.LinksContainer h1{
    letter-spacing: 1px;
    color: white;
    font-size: 19px;
    font-weight: 500;
        text-align: left;
        margin:14px 0px 20px;
}
.LinksContainer a{
    letter-spacing: 1px;
    width: fit-content;
    text-decoration: none;
    color: rgb(160, 160, 160);
    font-size: 15px;
}
.LinksContainer a:hover{
    color: rgb(255, 111, 58);
}
.LinksContainer a svg{
    fill: white;
    height: 3rem;
}
.svgContainer{
    display: flex;
    gap: 25px;
}
.LinksContainer a svg:hover{
    fill: rgb(255, 111, 58);
}



/* 
###############################

///////////your code//////////////

###############################
 */


/* responsive code below*/
@media screen and (max-width:1920px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width:1200px) {
    html {
        font-size: 60%;
    }
  

 
}

@media screen and (max-width:1000px) {
    html {
        font-size: 55%;
    }
  .FooterContainer{
        flex-wrap: wrap;
        padding: 0px 0 10px;
    }
         .footerLogos,.LinksContainer{
        width: 50%;
    }

}
@media screen and (max-width:768px) {
    html {
        font-size: 50%;
    }
 
}

@media screen and (max-width:600px) {
 
    .footerLogos,.LinksContainer{
        width: 100%;
    }
    .footerLogos{
        background-position: center;
        height: 30vw;
        margin-top: 10px;
    }
}
@media screen and (max-width:500px) {
    html {
        font-size: 45%;  
    }

}

@media screen and (max-width:430px) {
    html {
        font-size: 43%;
    }
}

@media screen and (max-width:375px) {
    html {
        font-size: 40%;
    }
}
@media screen and (max-width:300px) {
    html {
        font-size: 40%;
    }
}

/* responsive code above */
