.preloader {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
  }
  .baseStamp{
    height: 350px;
    width: 350px;
    background-image: url(../Images/preloader/baseStamp_850x852.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pingPong 1.5s linear infinite;

  }
  .compass{
    height: 61%;
    width: 61%;
    background-image: url(../Images/preloader/compass2.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    mix-blend-mode: multiply;
    animation: rotate 5s linear infinite;
  }
    @keyframes rotate {
        0% {
        transform: rotate(0deg);
        }
        100% {
        transform: rotate(360deg);
        }
    }
  .text{
    background-image: url(../Images/preloader/text_50.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:  center 45%;
    position: absolute;
    width: 180%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pingPong 1.5s linear infinite;
  }
    @keyframes pingPong {
        0% {
        transform: scale(1);
        }
        50% {
        transform: scale(1.1);
        }
        100% {
        transform: scale(1);
        }
    }
